.bar-chart-col {
    height: 600px;
    & .card-body{
        height: 600px;
        padding-bottom: 30px;
    }
}

.pizzas-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizza-chart-1{
    height: 300px;
    & .card-body{
        height: 300px;
        padding-bottom: 30px;
    }
}

.pizza-chart-2{
    height: 300px;
    & .card-body{
        height: 300px;
        padding-bottom: 30px;
    }   
}